In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('station.csv')

In [3]:
df2 = pd.read_csv('weather.csv')

In [4]:
df3 = pd.read_csv('trip.csv',warn_bad_lines=False ,error_bad_lines=False)

## What is the average trip duration for a borrowed bicycle?

In [5]:
avg = df3['tripduration']
avg.mean()

1178.2956753399776

## What's the most common age of a bicycle-sharer?

In [6]:
most_common_age = df3['birthyear']
most_common_year = 2021- most_common_age.mode()[0]
most_common_year

34.0

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [7]:
def conv_month(cell):
    return int(cell.split('/')[0])
df2['Month']=df2['Date'].apply(conv_month)
df2['Month']

0      10
1      10
2      10
3      10
4      10
       ..
684     8
685     8
686     8
687     8
688     8
Name: Month, Length: 689, dtype: int64

In [8]:
df2.groupby('Month')['Precipitation_In'].mean()
# df2.groupby(['Month','Precipitation_In']).mean()

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [9]:
df2.groupby('Month')['Precipitation_In'].median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

## What’s the average number of bikes at a given bike station?

In [10]:
avg_num_of_bikes= df1.mean()

In [11]:
avg_num_of_bikes.install_dockcount

17.586206896551722

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [12]:
# modifed = df1[ df1['modification_date']!='NaN' ]
# modifed = df1[['modification_date','install_dockcount','current_dockcount']].dropna()

avg_num_midified_bikes=df1['current_dockcount'].mean()

In [13]:
avg_num_midified_bikes

16.517241379310345

#### By Compare between install_dockcount and current_dockcount
#### if there modification date

# Come up with 3 more questions that can be answered with this data set

### 1.Median of maximum tempratures in all days ?

In [14]:
max_temps_median = df2[['Max_Temperature_F']].median()
max_temps_median

Max_Temperature_F    63.0
dtype: float64

### 2.Highest Humidity ?

In [15]:
highest_humidity = df2[['Max_Humidity']]
sorted_highest_humidity = highest_humidity.sort_values('Max_Humidity', ascending=False)
sorted_highest_humidity
top_highest_humidity = sorted_highest_humidity.head(1)
top_highest_humidity

     Max_Humidity
480           100

### 3.Number of all members ?

In [16]:
most_common_gender = df3[["usertype"]]

In [17]:
most_common_gender.count()

usertype    286857
dtype: int64