In [1]:

import pandas as pd
import numpy as np

## Read csv file

In [2]:
df = pd.read_csv('./vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Which company is the most common video game publisher?

In [3]:
most_common_publisher = df['Publisher']
most_common_publisher.describe().top

'Electronic Arts'

## What’s the most common platform?

In [4]:
most_common_platform = df ['Platform']
most_common_platform.describe().top

'DS'

## What about the most common genre?

In [5]:
most_common_genre = df['Genre']
most_common_genre.describe().top

'Action'

## What are the top 20 highest grossing games?

In [6]:

top_20_all =df.head(20)
top_twenty_highest_grossing_games = top_20_all.groupby(['Rank','Name','Global_Sales'])
# top_twenty_highest_grossing_games.describe()
top_twenty_highest_grossing_games.agg({'Rank':'max'})
# top_twenty_highest_grossing_games.iloc[0]

                                                                Rank
Rank Name                                         Global_Sales
1    Wii Sports                                   82.74            1
2    Super Mario Bros.                            40.24            2
3    Mario Kart Wii                               35.82            3
4    Wii Sports Resort                            33.00            4
5    Pokemon Red/Pokemon Blue                     31.37            5
6    Tetris                                       30.26            6
7    New Super Mario Bros.                        30.01            7
8    Wii Play                                     29.02            8
9    New Super Mario Bros. Wii                    28.62            9
10   Duck Hunt                                    28.31           10
11   Nintendogs                                   24.76           11
12   Mario Kart DS                                23.42           12
13   Pokemon Gold/Pokemon Silver                  23.10           13
14   Wii Fit                                      22.72           14
15   Wii Fit Plus                                 22.00           15
16   Kinect Adventures!                           21.82           16
17   Grand Theft Auto V                           21.40           17
18   Grand Theft Auto: San Andreas                20.81           18
19   Super Mario World                            20.61           19
20   Brain Age: Train Your Brain in Minutes a Day 20.22           20

## For North American video game sales, what’s the median?

In [7]:
na_median_sales = df['NA_Sales']
# median_cell = na_median_sales.median()
# df[df['NA_Sales'] > df['NA_Sales'].median()].iloc[0:5]
median =na_median_sales.median()
# df[df['NA_Sales'] < df['NA_Sales'].median()].iloc[0:5]

df[(na_median_sales <= median+1) & (na_median_sales >= median-1)].head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
82,83,FIFA Soccer 13,PS3,2012.0,Action,Electronic Arts,1.06,5.05,0.13,2.01,8.24
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.00,0.71,8.11
112,113,FIFA 14,PS3,2013.0,Sports,Electronic Arts,0.78,4.32,0.07,1.73,6.90
121,122,FIFA 12,PS3,2011.0,Sports,Electronic Arts,0.84,4.32,0.11,1.42,6.69
124,125,FIFA 15,PS4,2014.0,Sports,Electronic Arts,0.79,4.29,0.05,1.47,6.59
137,138,World of Warcraft,PC,2004.0,Role-Playing,Activision,0.07,6.21,0.00,0.00,6.28
149,150,Dragon Quest IX: Sentinels of the Starry Skies,DS,2009.0,Role-Playing,Nintendo,0.66,0.69,4.35,0.15,5.84
161,162,Monster Hunter Freedom Unite,PSP,2008.0,Role-Playing,Capcom,0.47,0.57,4.13,0.34,5.50
180,181,Dragon Quest VIII: Journey of the Cursed King,PS2,2004.0,Role-Playing,Square Enix,0.65,0.75,3.61,0.20,5.21
185,186,FIFA Soccer 13,X360,2012.0,Action,Electronic Arts,1.08,3.48,0.03,0.58,5.18

## For North American video game sales, what’s the median?
### Provide a secondary output showing ten games surrounding the median sales output

In [8]:
mean = df['NA_Sales'].mean()
std = df['NA_Sales'].std()
maxi = df['NA_Sales'].max()
z = (maxi - mean)/std
z

50.47898767479108

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [9]:
wii =df[df['Platform']=='Wii']
globalmean = df[df['Platform']!='Wii']
(wii.mean().Global_Sales,globalmean.mean().Global_Sales)

(0.6994037735849057, 0.5233896418516336)

## Come up with 3 more questions that can be answered with this data set.

### 1.The top shooter game in rank ?

In [10]:
racing = df[df['Genre']=='Racing'].head(10)
racing

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
42,43,Mario Kart 7,3DS,2011.0,Racing,Nintendo,4.74,3.91,2.67,0.89,12.21
47,48,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
52,53,Gran Turismo,PS,1997.0,Racing,Sony Computer Entertainment,4.02,3.87,2.54,0.52,10.95
54,55,Gran Turismo 5,PS3,2010.0,Racing,Sony Computer Entertainment,2.96,4.88,0.81,2.12,10.77
63,64,Mario Kart 64,N64,1996.0,Racing,Nintendo,5.55,1.94,2.23,0.15,9.87
69,70,Gran Turismo 2,PS,1999.0,Racing,Sony Computer Entertainment,3.88,3.42,1.69,0.50,9.49
76,77,Super Mario Kart,SNES,1992.0,Racing,Nintendo,3.54,1.24,3.81,0.18,8.76

### 2.How many games sold in wii platform in Europe?

In [11]:
wii =df[df['Platform']=='Wii'].count()
wii.EU_Sales

1325

### 3.Most Sold Game of sepecific Genre?

In [17]:
most_sold = df['Name']
most_sold.describe().top

'Need for Speed: Most Wanted'

NameError: name 'avg_trip_duration' is not defined